<!DOCTYPE html>
<html lang="cz">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/game.js"></script>

    <title>Online Mariáš</title>
  </head>
  <body>
<main>
<!-- <body onkeydown="return (event.keyCode == 154)"></body>
<html oncontextmenu="return false"> -->
<button onclick="sendData('posun',1)">Změna fáze</button>

<div class="position-relative">
  
  <div class="position-absolute top-0 start-0">
    <p id="jmeno1" class="fw-bold player-name text-center">Jméno obránce</p>
    <div id="odkladaci-misto-hlaska1" class="rounded storage-place1"></div>
  </div>

  <div class="position-absolute top-0 end-0">
    <p id="jmeno2" class="fw-bold text-start player-name1">Jméno obránce</p>
    <div id="odkladaci-misto-hlaska2" class="rounded storage-place2"></div>
  </div>
</div>

<div id="odkladaci-misto-karty" class="position-absolute top-50 start-50 translate-middle rounded storage-place3"></div>

<div id="game-progress">
  <div id="first-choose" style="display: none;" class="step">
    <div class="forhont-info">
      Kliknutím, vyberete trumfa
    </div>
    <div class="defense-info">
      Čeká se na forhonta až vybere trumf
    </div>
  </div>

  <div id="second-choose" style="display: none;" class="step">
    <div class="forhont-info">
      Kliknutím, odhoďte talon <br> (pro hru neodhazujte bodované karty: X a ESA)
    </div>
    <div class="defense-info">
      Čeká se až forhont odhodí talon
    </div>
  </div>

  <div id="third-choose" style="display: none;" class="step">
    <div class="forhont-info">
      Vyberte co se bude hrát: <br>
      <button id="hra" onclick="sendData('tlacitko','h')">Hra</button>
      <button id="battle" onclick="sendData('tlacitko','b')">Betl</button>
      <button id="durch" onclick="sendData('tlacitko','d')">Durch</button><br>
    </div>
    <div class="defense-info">
      Čeká se na typ hry
    </div>
  </div>

  <div id="fourth-choose" style="display: none;" class="step">
    <div id="barva-info">
      Čeká se na odsouhlasení barvy
    </div>
    <div id="coSeHraje"></div>
    <div id="barva">
      <button id="dobra" onclick="sendData('tlacitko','dobra')">Dobrá</button>
      <button id="spatna" onclick="sendData('tlacitko','spatna')">Špatná</button>
    </div>
  </div>

  <!-- --------PRVNÍ MOŽNOST, KDYŽ JE BARVA DOBRÁ-------- -->

  <div id="fifth-choose" style="display: none;" class="step">
    <div class="forhont-info">
      <button id="stovka" onclick="sendData('tlacitko','100')">Stovka</button>
      <button id="Sedma" onclick="sendData('tlacitko','7')">Sedma</button>
      <button id="Sedma" onclick="sendData('tlacitko','107')">Stosedm</button>
      <button id="nic" onclick="sendData('tlacitko','h')">Nic</button>
    </div>
    <div class="defense-info">
      Čeká se na variaci <!--  Tady si nejsem jist jak to pojmenovat  -->
    </div>
  </div>

  <div id="last-choose" style="display: none;" class="step">
    Stav flekování
    <button id="flekHry" onclick="sendData('tlacitko','flekHry')">Flek</button>
    <button id="flekChallange" onclick="sendData('tlacitko','flekChallange')">Flek</button>
    <button id="koncim" onclick="sendData('tlacitko','konec')">Končím</button>
  </div>
</div>

<div id="info"></div>
<div id="log-messages">
  <h3>Log messages</h3>
  <div class="log-content">
      <!-- Log messages will appear here -->
  </div>
</div>

<div>
  <div id="odkladaci-misto-hlaska3" class="storage-place4 fixed-bottom start-0"></div>
  <p id="jmeno3" class="player-name2 fw-bold fixed-bottom text-start">Jméno forhonta</p>
  <div class="fixed-bottom pb-2" id="karty"></div>
</div>