<!DOCTYPE html>
<html lang="cz">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/game.js"></script>

    <title>Online Mariáš</title>
  </head>
  <body>
<main>

<p>Tady bude hra a budou se testovat věci, ale dneska už nehodlám přemýšlet, tak jen abych měl commit \m/</p>
<button onclick="sendTest()">Test</button>
<button id="talon">Talon</button>
<button id="barva">Barva</button>
<button id="dobra">Dobrá</button>
<button id="spatna">Špatná</button>
<button id="flek">Flek</button>
<button id="koncim">Končím</button><br>
<div id="karty">

</div>
<div id="info"></div>
<%- include('../layout/paticka') %>