<!DOCTYPE html>
<html lang="cz">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/game.js"></script>

    <title>Online Mariáš</title>
  </head>
  <body>
<main>

<p>Tady bude hra a budou se testovat věci, ale dneska už nehodlám přemýšlet, tak jen abych měl commit \m/</p>
<button onclick="sendData('trumf;1')">Test</button>

<div id="game-progress">
  <div id="first-choose" style="display: none;" class="step">
    <div class="forhont-info">
      Kliknutím, vyberete trumfa
      <button onclick="sendData('trumf;1')"></button>
    </div>
    <div class="defense-info">
      Čeká se na forhonta až vybere trumf
    </div>
  </div>

  <div id="second-choose" style="display: none;" class="step">
    <div class="forhont-info">
      Kliknutím, odhoďte talon
    </div>
    <div class="defense-info">
      Čeká se až forhont odhodí talon
    </div>
  </div>

  <div id="third-choose" style="display: none;" class="step">
    <div class="forhont-info">
      Vyberte co se bude hrát: <br>
      <button id="hra">Hra</button>
      <button id="battle">Battle</button>
      <button id="durch">Durch</button><br>
    </div>
    <div class="defense-info">
      Čeká se na typ hry
    </div>
  </div>

  <div id="fourth-choose" style="display: none;" class="step">
    <div class="forhont-info">
      Čeká se na odsouhlasení barvy
    </div>
    <div class="first-defense-info">
      Barva?
      <button id="dobra">Dobrá</button>
      <button id="spatna">Špatná</button>
    </div>
    <div class="second-defense-info">
      Čeká se na potvrzení barvy prvního obránce
    </div>
  </div>
 
  <!-- --------PRVNÍ MOŽNOST, KDYŽ JE BARVA DOBRÁ-------- -->

  <div id="fifth-choose" style="display: none;" class="step">
    <div class="forhont-info">
      <button id="stovka">Stovka</button>
      <button id="Sedma">Sedma</button>
      <button id="nic">Nic</button>
    </div>
    <div class="defense-info">
      Čeká se na variaci <!--  Tady si nejsem jist jak to pojmenovat  -->
    </div>
  </div>

  <div id="last-choose" style="display: none;" class="step">
    <div class="forhont-info">
      Stav flekování
      <button id="flek-forhont">Flek</button>
      <button id="koncim-forhont">Končím</button>
    </div>
    <div class="defense-info">
      Stav flekování
      <button id="flek-defense">Flek</button>
      <button id="koncim-defense">Končím</button>
    </div>
  </div>
</div>

<div id="karty"></div>
<div id="info"></div>
<%- include('../layout/paticka') %>