<!DOCTYPE html>
<html lang="cz">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/game.js"></script>

    <title>Online Mariáš</title>
  </head>
  <body>
<main>

<p>Tady bude hra a budou se testovat věci, ale dneska už nehodlám přemýšlet, tak jen abych měl commit \m/</p>
<button onclick="sendTest()">Test</button>
<button id="talon">Talon</button>
<button id="barva">Barva</button>
<button id="flek">Flek</button>
<button id="koncim">Končím</button><br>

<!-- ------------------------------------------------------ -->

<div id="first-choose-f">
  <h1>Vyberte trumfa, tak že na něho klikněte</h1>
</div>

<div id="frist-choose-o">
  <h1>Čeká se na forhonta než vybere trumf</h1>
</div>

<!-- ------------------------------------------------------ -->

<!-- ------------------------------------------------------ -->

<div id="second-choose-f">
  <h1>Odhoďte dvě karty</h1>
</div>

<div id="second-choose-o">
  <h1>Čeká se až forhont odhodí dvě karty</h1>
</div>

<!-- ------------------------------------------------------ -->

<!-- ------------------------------------------------------ -->

<div id="third-choose-waitin">
  <h1>Čeká se odsouhlasí hra</h1>
</div>

<div id="third-choose-choosin"></div>
  <h1>Barva dobrá?</h1>
  <button id="dobra">Dobrá</button>
  <button id="spatna">Špatná</button>
<div id="karty">

</div>
<div id="info">

</div>
<%- include('../layout/paticka') %>