<%- include('../layout/hlavicka') %>
<!-- sem přijde kód  -->
<h1>Účet</h1> 
<div class="d-inline p-2">
    <% if(prihlaseny){ %>
        <a href="odhlasit" type="button" class="btn btn-danger">Odhlásit se</a>
      <% } else{ %>  
        <a href="prihlasit" type="button" class="btn btn-danger">Přihlásit se</a>
    <% } %>
</div>
<%- include('../layout/paticka') %>