:root {
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

#karty img {
    width: 125px;
}

#karty img:hover {
    transform: translateY(-40px);
}

.storage-place1 {
    width: 150px;
    height: 200px;
    margin-top: 80px;
    margin-left: 100px;
    background-color: rgb(40, 153, 40);
}

.storage-place2 {
    width: 150px;
    height: 200px;
    margin-top: 80px;
    margin-right: 100px;
    background-color: rgb(40, 153, 40);
}

.storage-place3 {
    width: 500px;
    height: 400px;
    background-color: rgb(40, 153, 40);
}

#log-messages {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 280px; 
    height: 200px; 
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

#log-messages h3 {
    margin-top: 0;
    font-size: 16px;
    padding-bottom: 1em;
    font-weight: bold;
    border-bottom: solid black 1px;
}

#log-messages .log-content {
    max-height: calc(100% - 40px);
    margin-left: 20px;
    overflow-y: hidden;
}
