:root {
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

#karty img {
    width: 125px;
}

#karty img:hover {
    transform: translateY(-40px);
}