<%- include('../layout/hlavicka') %>
<!-- sem přijde kód  -->
<h1 class="display-2 pt-5">Mariáš</h1>

<div class="pt-5">
  <div class="d-inline p-2">
    <a href="../lobby/voleny" type="button" class="btn btn-success">Volený</a>
  </div>
  <div class="d-inline p-2">
    <a href="../lobby/lizany" type="button" class="btn btn-success">Lízaný</a>
  </div>
  <div class="d-inline p-2">
      <a href="#" type="button" class="btn btn-success">Další</a>
  </div>
  <div class="d-inline p-2">
      <a href="#" type="button" class="btn btn-success">Další</a>
  </div>
</div>

<br />
<%- include('../layout/paticka') %>
