<%- include('../layout/hlavicka') %>
<!-- sem přijde kód  -->
<h1 class="text-primary">Mariáš</h1>
<a href="">Volený</a>
<a href="">Lízaný</a>
<br>
<a href="">O stránce</a>
<a href="">nastavení</a>
<%- include('../layout/paticka') %>