<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Lízaný mariáš</title>
  </head>
  <body>
    <div class="container d-flex" style="margin-top: 10rem;">
      <main>
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <div class="text-center mb-4">
                <h1>Lízaný mariáš</h1>
              </div>
              <div class="d-flex flex-column" style="width: 200px; margin: 0 auto;">
                <button type="button" name="" id="" class="btn btn-success btn-lg mb-3">Nový stůl</button>
                <button type="button" name="" id="" class="btn btn-success btn-lg mb-3">Pravidla</button>
                <button type="button" name="" id="" class="btn btn-success btn-lg mb-3">Nastavení</button>
              </div>
            </div>
            <div class="col-md-5">
              <h1 class="mb-4">Seznam stolů</h1>
              <div class="border">
                <!-- Obsah pro seznam stolů -->
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
