<%- include('../layout/hlavickaLobby') %>
<div class="row">

  <div class="col-7">
    <div class="text-center mb-5">
      <h1>Volený mariáš</h1>
    </div>
    <div class="d-flex flex-column" style="width: 200px; margin: 0 auto">
      <a href="/lobby/novyStulVoleny" type="button" name="" id="" class="btn btn-success btn-lg mb-3">Nový stůl</a>
      <a href="/lobby/pravidlaVoleny" type="button" name="" id="" class="btn btn-success btn-lg mb-3">Pravidla</a>
      <a type="button" name="" id="" class="btn btn-success btn-lg mb-3">Nastavení</a>
    </div>
  </div>

  <div class="col-5">
    <h1 class="mb-4 text-center">Seznam stolů</h1>
    <div class="border border-3" style="height:500px;" id="tableDivVoleny"> 
      <ul class="list-unstyled fs-4">
      </ul>
    </div> 
  </div>

</div>
<%- include('../layout/patickaLobby') %>
