<!DOCTYPE html>
<html lang="cz">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            :root {
                text-align: center;
            }

            a {
                text-decoration:none;
                font-size: 16px;
                font-weight: 600;
                color: black;
            }
        </style>
        <title>Online Mariáš</title>
    </head>
    <body>
        <div id="container">
            <header>
            </header>
            <nav>
                <a href="../lobby/index.ejs">Lobby</a>
                <a href="../account/index.ejs">Účet</a>
            </nav>
            <main>
    

