<!DOCTYPE html>
<html lang="cz">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <title>Online Mariáš</title>
  </head>
  <body>
    <div class="container-fluid">

      <header>  
        <ul class="nav nav-tabs mx-auto justify-content-center" id="navId" role="tablist">
            <li class="nav-item">
                <a href="../lobby/index.ejs" class="nav-link active" data-bs-toggle="tab" aria-current="page">Lobby</a>
            </li>
            <li class="nav-item">
                <a href="../account/index.ejs" class="nav-link active" data-bs-toggle="tab" aria-current="page">Účet</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link active" data-bs-toggle="tab" aria-current="page">O stránce</a>
            </li>
        </ul>
    
      </header>
      <main>